/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0; 
  }
  
  /* Styles for the heading of the weather dashboard */
  .weather-header {
    background-color: #4917ac;
    text-align: center;
    color: #efe9e9;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
  }
  
  /* Styles for horizontal line */
  .weather-hr{
    width: 85%;
    margin: 0px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Styles for buttons to display vertically */
  .list-group-item-action{
    display: block;
    margin-top: 10px;
    width: 200px;
    background-color: gray;
    border-radius: 3px;
  }
  
  /* Styles for search button */
  #search-button, .history{
    margin-top: 10px;
    background-color: rgb(20, 152, 234);
    width: 200px;
    border-radius: 3px;
  }
  
  /* Styles for button below the search for a city */
  #search-input{
    width: 194.5px;
    border-radius: 3px;
  }
  
  /* Styles for left content to be left */
  aside{
    width: 230px;
  }
  
  /* Styles for side-by-side display */
  #today h2, p{
    padding-left: 10px;
  }
  
  #today h2{
    display: inline-block;
    margin: 0px;
  }
  
  #today img{
    position: relative;
    top: 15px;
  }
  
  #forecast h2{
    display: block;
  }
  
  /* Styles for the search input */
  .weather-search {
    width: calc(100% - 110px);
  }
  
  /* Removing positioning and adjusting width for today and forecast sections */
  #today, #forecast {
    width: 100%;
    margin:20px; 
    border: 2px solid black;
    background-color: #e4e2e7;
    padding: 20px; 
    box-sizing: border-box; 
    overflow: hidden; 
  }
  
  /* Adjusting forecast cards */
  .new {
    display: block;
    color: white;
    padding: 20px;
    background-color: rgb(10, 72, 72);
    margin-top: 10px;
    width: calc(20% - 20px); 
    margin-right: 20px; 
    float: left; 
  }
  
  /* Clearing floats after forecast cards */
  #forecast::after {
    content: "";
    display: table !important;
    clear: both;
  }
  
  /* Styles for hiding elements */
  .hidden {
    display: none !important; 
    margin: 0 !important; 
    border: 0 !important; 
    padding: 0 !important; 
  }